{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h2>Dibujo de Ryoga</h2>
            <p> Este es un dibujo de Ryoga cuando se transforma en P-chan, el certido negro.</p>
        </div>

        <div class="col-4">
            <img src="/assets/img/p-chan.jpg" alt="p-chan" class="img-thumbnail">
        </div>
    </div>

{{> footer }}